[template]
src = "docker-cleanup.env.tmpl"
dest = "/etc/conf.d/mopper/docker-cleanup.env"
keys = [
  "/containers",
]

# make sure we got data's from rancher metadata service (network service should always be there)
check_cmd = "grep -q -e 'r-rancher-agent' {{.src}}"

# Fire the clean
reload_cmd = "docker start $(docker ps -a -f label=com.camptocamp.mopper=true --format='{{.ID}}')"