[template]
src = "docker-cleanup.env.tmpl"
dest = "/etc/conf.d/mopper/docker-cleanup.env"
keys = [
  "/containers",
]
reload_cmd = "docker start $(docker ps -a -f label=com.camptocamp.mopper=true --format='{{.ID}}')"