export LOOP=false
export DELAY_TIME=0
# get rancher containers from metadata
RANCHER_CONTAINERS='{{range lsdir "/containers" }}r-{{.}},{{ end }}'
# concat users containers to rancher's ones
CUSTOM_CONTAINERS={{getenv "MOPPER_KEEP_CONTAINERS_NAMED"}}
export KEEP_CONTAINERS_NAMED="${RANCHER_CONTAINERS}${CUSTOM_CONTAINERS}"
export KEEP_VOLUMES_NAMED={{getenv "MOPPER_KEEP_VOLUMES_NAMED"}}
export DEBUG={{getenv "MOPPER_DEBUG"}}