# Set run once
export LOOP=false

# Set interval, this is only use for log outputs as the cleaning service is run once.
export CLEAN_PERIOD={{getenv "CONFD_INTERVAL_IN_SECONDS"}}

# Set delay time before removing exited containers and unused images.
export DELAY_TIME={{getenv "MOPPER_DELAY_TIME"}}

# get rancher containers from metadata
RANCHER_CONTAINERS='{{range lsdir "/containers" }}r-{{.}},{{ end }}'

# concat users containers to rancher's ones
CUSTOM_CONTAINERS={{getenv "MOPPER_KEEP_CONTAINERS"}}
export KEEP_CONTAINERS_NAMED="${RANCHER_CONTAINERS}${CUSTOM_CONTAINERS}"

# set named volumes to keep
export KEEP_VOLUMES_NAMED={{getenv "MOPPER_KEEP_VOLUMES_NAMED"}}

# set durations of last volume access to keep
export KEEP_VOLUMES_ATIME_SINCE={{getenv "MOPPER_KEEP_VOLUMES_ATIME_SINCE"}}
export KEEP_VOLUMES_MTIME_SINCE={{getenv "MOPPER_KEEP_VOLUMES_MTIME_SINCE"}}

# set images to keep
export KEEP_IMAGES={{getenv "MOPPER_KEEP_IMAGES"}}

export DEBUG={{getenv "MOPPER_DEBUG"}}
